<ion-modal
  [isOpen]="open()"
  [breakpoints]="[0, 0.55, 0.9]"
  [initialBreakpoint]="0.55"
  [handle]="true"
  (didDismiss)="open.set(false)"
>
  <ng-template>
    <ion-content [scrollY]="true" class="ion-padding">
      <ion-grid>
        <ion-row>
          @for (tile of tiles(); track tile.route) {
            <ion-col size="4">
              <ion-item button [detail]="false" lines="none" (click)="openTile(tile)">
                <ion-label class="ion-text-center ion-text-wrap">
                  <span class="glyph">
                    <ion-icon [name]="tile.icon" size="large" aria-hidden="true" />
                    @if (tile.dot?.()) {
                      <span class="dot" aria-hidden="true"></span>
                    }
                  </span>
                  <p>{{ tile.label }}</p>
                </ion-label>
              </ion-item>
            </ion-col>
          }
        </ion-row>
      </ion-grid>

      <ion-item button lines="none" (click)="openAccount()">
        <mh-hex-avatar
          slot="start"
          size="sm"
          [name]="userName()"
          [imageUrl]="user()?.avatarUrl ?? null"
        />
        <ion-label>
          <h2>{{ userName() }}</h2>
          <p>{{ user()?.email }}</p>
        </ion-label>
      </ion-item>
    </ion-content>
  </ng-template>
</ion-modal>
