<ng-template #body>
  <ion-note class="mh-note-block">
    {{ 'programs.copyWeek.note' | translate: { number: fromWeek() + 1 } }}
  </ion-note>

  <ion-list lines="none">
    @for (index of targets(); track index) {
      <ion-item button [detail]="false" (click)="toggle(index)">
        <ion-label>{{ 'programs.common.week' | translate: { number: index + 1 } }}</ion-label>
        @if (isOn(index)) {
          <ion-icon slot="end" name="checkmark-circle-outline" aria-hidden="true" />
        }
      </ion-item>
    }
  </ion-list>
</ng-template>

<mh-sheet-shell
  [(open)]="open"
  [title]="title()"
  [body]="body"
  [saveLabel]="confirmLabel()"
  [canSave]="selected().length > 0"
  [breakpoints]="[0, 0.6]"
  [initialBreakpoint]="0.6"
  (save)="apply()"
/>
