:host::ng-deep {
  .p-tag {
    --p-tag-padding: 0.25rem 0.875rem;
    --p-tag-font-size: 0.675rem;
    --p-tag-font-weight: 600;
  }

  .p-card {
    .p-card-body {
      padding: 1.25rem;
    }
  }
}
