:host {
  display: block;
  height: 100%;
}

.gp-content {
  container-type: inline-size;
}

.gp-grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr;
}

@container (min-width: 40rem) {
  .gp-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@container (min-width: 80rem) {
  .gp-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@container (min-width: 96rem) {
  .gp-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
