@if (store.sendError(); as error) {
  <div class="error">
    <ion-note color="danger">{{ error }}</ion-note>
    <ion-button
      fill="clear"
      size="small"
      [attr.aria-label]="'messages.composer.dismissError' | translate"
      (click)="dismissError()"
    >
      <ion-icon slot="icon-only" name="close" />
    </ion-button>
  </div>
}

@if (isTooLong()) {
  <div class="error">
    <ion-note color="danger">{{ 'messages.composer.tooLong' | translate }}</ion-note>
  </div>
}

<div class="bar">
  <ion-textarea
    class="field"
    [autoGrow]="true"
    [rows]="1"
    [maxlength]="null"
    [placeholder]="placeholder()"
    [disabled]="!recipientId()"
    [value]="value()"
    (ionInput)="onInput($event.detail.value ?? '')"
  />

  <ion-button
    class="send"
    color="primary"
    shape="round"
    [disabled]="!canSend()"
    [attr.aria-label]="(isRateLimited() ? 'messages.composer.sendingPaused' : 'button.send') | translate"
    (click)="send()"
  >
    @if (isRateLimited()) {
      {{ limitedSeconds() }}
    } @else {
      <ion-icon slot="icon-only" name="send" />
    }
  </ion-button>
</div>
