<header class="section-header" [class.section-header--dense]="dense()">
  <div class="section-header__text">
    @if (eyebrow()) {
      <p class="section-header__eyebrow">{{ eyebrow() }}</p>
    }
    <h2 class="section-header__title">{{ title() }}</h2>
    @if (subtitle()) {
      <p class="section-header__subtitle">{{ subtitle() }}</p>
    }
  </div>
  @if (actionLabel()) {
    <button pButton type="button" size="small" link (click)="actionClick.emit()">
      {{ actionLabel()! }}
      <i class="pi pi-arrow-right"></i>
    </button>
  }
</header>
