<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/home/account" />
    </ion-buttons>
    <ion-title>{{ 'account.rows.profile' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="mh-page">
    <div class="portrait">
      <mh-hex-avatar size="2xl" [name]="store.fullName()" [imageUrl]="store.avatarUrl()" />
      <ion-button fill="clear" size="small" (click)="photoSheetOpen.set(true)">
        {{ 'account.profile.editPhoto' | translate }}
      </ion-button>
    </div>

    <ion-list [inset]="true" class="mh-card-list">
      <mh-settings-row
        [label]="'form.label.name' | translate"
        [value]="store.fullName() || null"
        [valuePlaceholder]="'form.placeholder.notProvided' | translate"
        (select)="nameSheetOpen.set(true)"
      />

      @if (isInstructor()) {
        <mh-settings-row
          [label]="'account.profile.about' | translate"
          [value]="aboutValue()"
          [valuePlaceholder]="'form.placeholder.notProvided' | translate"
          (select)="aboutSheetOpen.set(true)"
        />
      }

      <mh-settings-row
        [label]="'form.label.handle' | translate"
        [value]="handleValue()"
        [valuePlaceholder]="'form.placeholder.notSet' | translate"
        [valueMono]="true"
        (select)="handleSheetOpen.set(true)"
      />

      <mh-settings-row
        [label]="'form.label.phone' | translate"
        [value]="account()?.phone ?? null"
        [valuePlaceholder]="'form.placeholder.notProvided' | translate"
        (select)="phoneSheetOpen.set(true)"
      />

      <mh-settings-row
        [label]="'form.label.location' | translate"
        [value]="locationValue()"
        [valuePlaceholder]="'form.placeholder.notProvided' | translate"
        (select)="locationSheetOpen.set(true)"
      />

      @if (isInstructor()) {
        <mh-settings-row
          [label]="'account.profile.links' | translate"
          [value]="linksValue()"
          [valuePlaceholder]="'account.profile.noneAdded' | translate"
          (select)="linksSheetOpen.set(true)"
        />
      }
    </ion-list>

    <ion-note class="mh-footnote" color="medium">
      {{ (isInstructor() ? 'account.profile.footnoteCoach' : 'account.profile.footnoteTrainee') | translate }}
    </ion-note>
  </div>

  <mh-photo-sheet [(open)]="photoSheetOpen" />
  <mh-name-sheet [(open)]="nameSheetOpen" />
  <mh-handle-sheet [(open)]="handleSheetOpen" />
  <mh-phone-sheet [(open)]="phoneSheetOpen" />
  <mh-location-sheet [(open)]="locationSheetOpen" />
  @if (isInstructor()) {
    <mh-about-sheet [(open)]="aboutSheetOpen" />
    <mh-links-sheet [(open)]="linksSheetOpen" />
  }
</ion-content>
