<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/auth/login" />
    </ion-buttons>
    <ion-title>{{ 'auth.signUp.title' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="auth-container">
    @if (errorMessage()) {
      <ion-text color="danger" role="alert" class="ion-padding-horizontal">
        <p>{{ errorMessage() }}</p>
      </ion-text>
    }

    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="ion-margin-horizontal">
        <ion-input
          fill="outline"
          [label]="'form.label.firstName' | translate"
          labelPlacement="stacked"
          type="text"
          formControlName="firstName"
          [placeholder]="'auth.signUp.firstNamePlaceholder' | translate"
          autocomplete="given-name"
          enterkeyhint="next"
          [errorText]="getFieldError('firstName')"
          [class.ion-invalid]="isFieldInvalid('firstName')"
          [class.ion-touched]="isFieldInvalid('firstName')"
        />
        <ion-input
          class="ion-margin-top"
          fill="outline"
          [label]="'form.label.lastName' | translate"
          labelPlacement="stacked"
          type="text"
          formControlName="lastName"
          [placeholder]="'auth.signUp.lastNamePlaceholder' | translate"
          autocomplete="family-name"
          enterkeyhint="next"
          [errorText]="getFieldError('lastName')"
          [class.ion-invalid]="isFieldInvalid('lastName')"
          [class.ion-touched]="isFieldInvalid('lastName')"
        />
        <ion-input
          class="ion-margin-top"
          fill="outline"
          [label]="'auth.common.emailLabel' | translate"
          labelPlacement="stacked"
          type="email"
          inputmode="email"
          formControlName="email"
          [placeholder]="'form.placeholder.email' | translate"
          autocomplete="email"
          enterkeyhint="next"
          [errorText]="getFieldError('email')"
          [class.ion-invalid]="isFieldInvalid('email')"
          [class.ion-touched]="isFieldInvalid('email')"
        />
        <ion-input
          class="ion-margin-top"
          fill="outline"
          [label]="'form.label.password' | translate"
          labelPlacement="stacked"
          type="password"
          formControlName="password"
          [placeholder]="'form.hint.passwordMinLength' | translate"
          autocomplete="new-password"
          enterkeyhint="next"
          [errorText]="getFieldError('password')"
          [class.ion-invalid]="isFieldInvalid('password')"
          [class.ion-touched]="isFieldInvalid('password')"
        >
          <ion-input-password-toggle slot="end" />
        </ion-input>
        <ion-input
          class="ion-margin-top"
          fill="outline"
          [label]="'form.label.confirmPassword' | translate"
          labelPlacement="stacked"
          type="password"
          formControlName="confirmPassword"
          [placeholder]="'form.hint.reenterPassword' | translate"
          autocomplete="new-password"
          enterkeyhint="done"
          [errorText]="getConfirmPasswordError()"
          [class.ion-invalid]="isConfirmPasswordInvalid()"
          [class.ion-touched]="isConfirmPasswordInvalid()"
        >
          <ion-input-password-toggle slot="end" />
        </ion-input>
        <ion-checkbox
          class="ion-margin-top"
          formControlName="isInstructor"
          labelPlacement="end"
          justify="start"
        >
          <ion-label class="ion-text-wrap">
            {{ 'auth.signUp.registerAsCoach' | translate }}
            <p>{{ 'auth.signUp.registerAsCoachHint' | translate }}</p>
          </ion-label>
        </ion-checkbox>
      </div>

      <ion-button
        expand="block"
        type="submit"
        [disabled]="isLoading()"
        class="ion-margin-horizontal ion-margin-top"
      >
        @if (isLoading()) {
          <ion-spinner name="crescent" />
        } @else {
          {{ 'auth.signUp.submit' | translate }}
        }
      </ion-button>
    </form>

    <div class="ion-text-center ion-padding">
      <ion-text color="medium">
        <p class="ion-no-margin">
          {{ 'auth.signUp.terms' | translate }}
        </p>
      </ion-text>
    </div>
  </div>
</ion-content>
