<ion-content [fullscreen]="true" class="ion-padding">
  <div class="auth-container auth-container--center">
    <div class="ion-padding-horizontal">
      <h1>{{ 'auth.login.title' | translate }}</h1>
      <p>{{ 'auth.login.subtitle' | translate }}</p>
    </div>

    @if (errorMessage()) {
      <ion-text color="danger" role="alert" class="ion-padding-horizontal">
        <p>{{ errorMessage() }}</p>
      </ion-text>
    }

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="ion-margin-horizontal">
        <ion-input
          fill="outline"
          [label]="'auth.common.emailLabel' | translate"
          labelPlacement="stacked"
          type="email"
          inputmode="email"
          formControlName="email"
          [placeholder]="'form.placeholder.email' | translate"
          autocomplete="email"
          enterkeyhint="next"
          [errorText]="getFieldError('email')"
          [class.ion-invalid]="isFieldInvalid('email')"
          [class.ion-touched]="isFieldInvalid('email')"
        />
        <ion-input
          class="ion-margin-top"
          fill="outline"
          [label]="'form.label.password' | translate"
          labelPlacement="stacked"
          type="password"
          formControlName="password"
          [placeholder]="'auth.login.passwordPlaceholder' | translate"
          autocomplete="current-password"
          enterkeyhint="go"
          [errorText]="getFieldError('password')"
          [class.ion-invalid]="isFieldInvalid('password')"
          [class.ion-touched]="isFieldInvalid('password')"
        >
          <ion-input-password-toggle slot="end" />
        </ion-input>
      </div>

      <div class="ion-text-end">
        <ion-button fill="clear" size="small" routerLink="/auth/reset-password">
          {{ 'auth.login.forgotPassword' | translate }}
        </ion-button>
      </div>

      <ion-button
        expand="block"
        type="submit"
        [disabled]="isLoading()"
        class="ion-margin-horizontal ion-margin-top"
      >
        @if (isLoading()) {
          <ion-spinner name="crescent" />
        } @else {
          {{ 'button.signIn' | translate }}
        }
      </ion-button>
    </form>

    <div class="ion-text-center ion-margin-top">
      <ion-text color="medium">
        <p class="ion-no-margin">{{ 'auth.login.noAccount' | translate }}</p>
      </ion-text>
      <ion-button fill="clear" routerLink="/auth/signup" [queryParams]="queryParams">
        {{ 'auth.login.createAccount' | translate }}
      </ion-button>
    </div>
  </div>
</ion-content>
