<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/auth/login" />
    </ion-buttons>
    <ion-title>{{ 'auth.newPassword.title' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="auth-container">
    @if (!hasToken()) {
      <ion-text color="danger" role="alert" class="ion-padding-horizontal">
        <p>{{ 'auth.newPassword.missingToken' | translate }}</p>
      </ion-text>
      <ion-button expand="block" class="ion-margin" routerLink="/auth/reset-password">
        {{ 'auth.newPassword.requestNewLink' | translate }}
      </ion-button>
    } @else {
      <div class="ion-padding-horizontal">
        <p>{{ 'auth.newPassword.subtitle' | translate }}</p>
      </div>

      @if (successMessage()) {
        <ion-text color="success" role="status" class="ion-padding-horizontal">
          <p>{{ successMessage() }}</p>
        </ion-text>
      }

      @if (errorMessage()) {
        <ion-text color="danger" role="alert" class="ion-padding-horizontal">
          <p>{{ errorMessage() }}</p>
        </ion-text>
      }

      <form [formGroup]="newPasswordForm" (ngSubmit)="onSubmit()">
        <div class="ion-margin-horizontal">
          <ion-input
            fill="outline"
            [label]="'form.label.newPassword' | translate"
            labelPlacement="stacked"
            type="password"
            formControlName="newPassword"
            [placeholder]="'form.hint.passwordMinLength' | translate"
            autocomplete="new-password"
            enterkeyhint="next"
            [errorText]="getFieldError('newPassword')"
            [class.ion-invalid]="isFieldInvalid('newPassword')"
            [class.ion-touched]="isFieldInvalid('newPassword')"
          >
            <ion-input-password-toggle slot="end" />
          </ion-input>
          <ion-input
            class="ion-margin-top"
            fill="outline"
            [label]="'form.label.confirmPassword' | translate"
            labelPlacement="stacked"
            type="password"
            formControlName="confirmPassword"
            [placeholder]="'auth.newPassword.confirmPlaceholder' | translate"
            autocomplete="new-password"
            enterkeyhint="done"
            [errorText]="getConfirmPasswordError()"
            [class.ion-invalid]="isConfirmPasswordInvalid()"
            [class.ion-touched]="isConfirmPasswordInvalid()"
          >
            <ion-input-password-toggle slot="end" />
          </ion-input>
        </div>

        <ion-button
          expand="block"
          type="submit"
          [disabled]="isLoading()"
          class="ion-margin-horizontal ion-margin-top"
        >
          @if (isLoading()) {
            <ion-spinner name="crescent" />
          } @else {
            {{ 'auth.newPassword.submit' | translate }}
          }
        </ion-button>
      </form>
    }
  </div>
</ion-content>
