<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/auth/login" />
    </ion-buttons>
    <ion-title>New password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="auth-container">
    @if (!hasToken()) {
      <ion-text color="danger" role="alert" class="ion-padding-horizontal">
        <p>Invalid or missing reset token. Please request a new password reset link.</p>
      </ion-text>
      <ion-button expand="block" class="ion-margin" routerLink="/auth/reset-password">
        Request a new link
      </ion-button>
    } @else {
      <div class="ion-padding-horizontal">
        <p>Choose a new password for your account.</p>
      </div>

      @if (successMessage()) {
        <ion-text color="success" role="status" class="ion-padding-horizontal">
          <p>{{ successMessage() }}</p>
        </ion-text>
      }

      @if (errorMessage()) {
        <ion-text color="danger" role="alert" class="ion-padding-horizontal">
          <p>{{ errorMessage() }}</p>
        </ion-text>
      }

      <form [formGroup]="newPasswordForm" (ngSubmit)="onSubmit()">
        <ion-list [inset]="true">
          <ion-item>
            <ion-input
              label="New password"
              labelPlacement="stacked"
              type="password"
              formControlName="newPassword"
              placeholder="Min. 8 characters"
              autocomplete="new-password"
              enterkeyhint="next"
              [errorText]="getFieldError('newPassword')"
              [class.ion-invalid]="isFieldInvalid('newPassword')"
              [class.ion-touched]="isFieldInvalid('newPassword')"
            >
              <ion-input-password-toggle slot="end" />
            </ion-input>
          </ion-item>
          <ion-item>
            <ion-input
              label="Confirm password"
              labelPlacement="stacked"
              type="password"
              formControlName="confirmPassword"
              placeholder="Re-enter your new password"
              autocomplete="new-password"
              enterkeyhint="done"
              [errorText]="getConfirmPasswordError()"
              [class.ion-invalid]="isConfirmPasswordInvalid()"
              [class.ion-touched]="isConfirmPasswordInvalid()"
            >
              <ion-input-password-toggle slot="end" />
            </ion-input>
          </ion-item>
        </ion-list>

        <ion-button
          expand="block"
          type="submit"
          [disabled]="isLoading()"
          class="ion-margin-horizontal ion-margin-top"
        >
          @if (isLoading()) {
            <ion-spinner name="crescent" />
          } @else {
            Reset password
          }
        </ion-button>
      </form>
    }
  </div>
</ion-content>
