@use 'variables' as *;
@use '../public-shared' as shared;

// @include shared.hero-section();
@include shared.honeycomb-bg();
@include shared.cta-section();
@include shared.orb-base();
@include shared.orb-colors();
@include shared.feature-cards();

.hero-section {
  position: relative;
  overflow: hidden;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 50dvh;
}
