<p-dialog
  [(visible)]="visible"
  [modal]="true"
  [closable]="!submitting()"
  [dismissableMask]="!submitting()"
  [style]="{ width: '32rem' }"
  [header]="'components.requestToBeClientDialog.header' | translate">
  <div class="flex flex-col gap-3">
    <p class="m-0 text-sm">
      @if (instructorName(); as name) {
        {{ 'components.requestToBeClientDialog.intro' | translate: { name } }}
      } @else {
        {{ 'components.requestToBeClientDialog.introNoName' | translate }}
      }
    </p>
    <label for="request-message" class="text-sm font-medium">{{ 'components.requestToBeClientDialog.messageLabel' | translate }}</label>
    <textarea
      pTextarea
      id="request-message"
      rows="5"
      fluid
      [ngModel]="message()"
      (ngModelChange)="message.set($event)"
      [placeholder]="'components.requestToBeClientDialog.placeholder' | translate"
      [disabled]="submitting()"></textarea>
  </div>

  <ng-template #footer>
    <div class="flex gap-2 justify-end">
      <button pButton type="button" severity="secondary" text [disabled]="submitting()" (click)="cancel()">{{ 'button.cancel' | translate }}</button>
      <button pButton type="button" (click)="send()" [disabled]="submitting()">
        <i class="pi" [class]="submitting() ? 'pi-spinner pi-spin' : 'pi-send'"></i>
        {{ 'button.sendRequest' | translate }}
      </button>
    </div>
  </ng-template>
</p-dialog>
