<div
  class="mh-trs"
  [class.mh-trs--honey]="tone() === 'honey'"
  [class.mh-trs--teal]="tone() === 'teal'"
  [class.mh-trs--navy]="tone() === 'navy'"
  [class.mh-trs--coral]="tone() === 'coral'"
  aria-hidden="true"
>
  <div class="mh-trs__time">
    <span class="mh-trs__skel mh-trs__skel--h"></span>
    <span class="mh-trs__skel mh-trs__skel--d"></span>
  </div>
  <div class="mh-trs__main">
    <span class="mh-trs__skel mh-trs__skel--title-1"></span>
    <span class="mh-trs__skel mh-trs__skel--title-2"></span>
    <span class="mh-trs__skel mh-trs__skel--meta"></span>
  </div>
  <span class="mh-trs__skel mh-trs__skel--chev"></span>
</div>
