<ng-template #body>
  <ion-searchbar
    mhAutofocus
    [placeholder]="'accountSheets.location.searchPlaceholder' | translate"
    [attr.aria-label]="'accountSheets.location.searchPlaceholder' | translate"
    [debounce]="0"
    (ionInput)="onSearch($event.detail.value ?? '')"
  />

  @if (searching()) {
    <div class="searching">
      <ion-spinner name="crescent" />
    </div>
  } @else if (results().length) {
    <ion-list [inset]="true" class="mh-card-list">
      @for (place of results(); track place.displayName) {
        <ion-item button [detail]="false" lines="full" (click)="pick(place)">
          <ion-icon slot="start" name="location-outline" aria-hidden="true" />
          <ion-label class="ion-text-wrap">
            {{ place.city ?? place.displayName }}
            <p>{{ place.country }}</p>
          </ion-label>
        </ion-item>
      }
    </ion-list>
  }

  @if (selected(); as place) {
    <p class="selected">
      {{
        'accountSheets.location.selected'
          | translate: { place: place.city ?? place.displayName, country: place.country }
      }}
    </p>
  }

  @if (blockedByCountryLock()) {
    <p class="mh-helper locked">{{ 'accountSheets.location.countryLocked' | translate }}</p>
  } @else {
    <p class="mh-helper">{{ 'accountSheets.location.hint' | translate }}</p>
  }
</ng-template>

<mh-sheet-shell
  [(open)]="open"
  [title]="'form.label.location' | translate"
  [body]="body"
  [canSave]="canSave()"
  [saving]="saving()"
  [breakpoints]="[0, 0.75, 0.95]"
  [initialBreakpoint]="0.75"
  (save)="save()"
/>
